body {
    color: white;
    background: black;
    margin: 1px;
    font-family: "Merriweather", serif;
    margin-bottom: 88px;
}

header {
    border-bottom: solid 2px rgb(164,15,7);
    padding: 7px;
    font-size: 24px;
    margin-bottom: 40px;
    
}

.chamada {
    background: rgb(164,15,7);
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 2%;
    margin-left: 1%;
}

.video {
    margin-right: 3%;
}

h1 {
    font-size: 29px;
}

p {
    font-size: 19px;
}

.cont {
    display: flex;
    overflow-x: auto;
    gap: 7px;
}

.evo {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 33px;
}

.cont img {
    opacity: 0.6;
    height: 280px;
}

.cont img:hover {
    opacity: 1.0;
    border: 1px white;
}